.beers {
    text-align: center;

}

/* .beers__title {
    font-size: var(--size-2xl);
    color: var(--clr-forest);
} */

.beers__description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate600);
    margin: 1rem auto;
}

.beers__beer-title {
    font-size: var(--size-xl);
    margin-bottom: 1rem;
    
    padding-top: 20px;
}

.beers__img-wrapper {
    position: relative;
}

/* hover functioning for beer icons */

img[alt="renegade mountain brown ale"]:hover{
    content:url(/public/brown-forest.png);
}
img[alt="catoosa west coast IPA"]:hover{
    content:url(/public/ipa-forest.png);
}
img[alt="sells red ale"]:hover{
    content:url(/public/red-forest.png);
}
img[alt="tansi saison"]:hover{
    content:url(/public/saison-forest.png);
}
img[alt="black mountain stout"]:hover{
    content:url(/public/stout-forest.png);
}
img[alt="spiced renegade"]:hover{
    content:url(/public/spiced-forest.png);
}

/* .beers__img-wrapper::after {
    content: '';
    background-color: rgba(47, 80, 25, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s;
}

.beers__img-wrapper:hover::after{
    background-color: rgba(47, 80, 25, 0.3);
} */

.beers__beer:not(:last-child) {
    margin-bottom: 5rem;
}

.beers__beer-description1 {
    font-size: var(--size-sm);
    color: var(--clr-slate600);
    margin: 1rem 0;

}

.beers__beer-description2 {
    font-size: var(--size-sm);
    color: var(--clr-slate400);
    margin-bottom: 1rem;
    background-color: var(--clr-peach);
}

.beers__description-list {
    list-style: none;
    border: 1px solid var(--clr-peach);
    padding: 20px;
}

.beers__beer-btn {
    font-size: var(--size-sm);
}

.beers__beer-subtitle {
    display: none;
    
}

a {
    text-decoration: none;
}

/* xs */
@media (min-width: 475px) {
    .beers__title {
        font-size: var(--size-3xl);
    }
    
    .beers__description {
        font-size: var(--size-base);
        margin: 1.5rem auto;
    }
    .beers__beer-title {
        font-size: var(--size-lg);
        margin-bottom: 1.5rem;
    }

    .beers__beer-description1 {
        font-size: var(--size-base);
        margin: 1.5rem 0;
    }
    
    .beers__beer-description2 {
        font-size: var(--size-base);
        margin-bottom: 1.5rem;
    }

    .beers__beer-btn {
        font-size: var(--size-base);
    }
    
}

/* sm */
@media (min-width: 640px) {
   .beers__container {
       display: grid;
       grid-template-columns: 1fr 1fr;
       place-items: center;
       grid-template-areas: 
       'image1 content1'
       'content2 image2'
       'image3 content3'
       'content4 image4'
       'image5 content5'
       'content6 image6'
   }

   .beers__image1 {
       grid-area: image1;
   }
   .beers__image2 {
       grid-area: image2;
   }
   .beers__image3 {
       grid-area: image3;
   }
   .beers__image4 {
       grid-area: image4;
   }
   .beers__image5 {
       grid-area: image5;
   }
   .beers__image6 {
       grid-area: image6;
   }

   .beers__content1 {
       grid-area: content1;
   }
   .beers__content2 {
       grid-area: content2;
   }
   .beers__content3 {
       grid-area: content3;
   }
   .beers__content4 {
       grid-area: content4;
   }
   .beers__content5 {
       grid-area: content5;
   }
   .beers__content6 {
       grid-area: content6;
   }

   .beers__beer {
       padding: 0 1rem;
   }

   .beers__beer-title {
       display: none;
   }

   .beers__beer-description1 {
    font-size: var(--size-xs);
    margin: 1em 0;
}

.beers__beer-description2 {
    font-size: var(--size-xs);
    margin-bottom: 1em;
}

.beers__beer-btn {
    font-size: var(--size-xs);
}

.beers__beer:not(:last-child) {
    margin-bottom: 0;
}

.beers__beer-subtitle {
    display: block;
    font-size: var(--size-4xl);
}

}

/* md */
@media (min-width: 768px) {
    .beers__beer-description1 {
        font-size: var(--size-sm);
    }
    
    .beers__beer-description2 {
        font-size: var(--size-sm);
    }
    
    .beers__beer-btn {
        font-size: var(--size-sm);
    }

    /* .beers__beer-subtitle {
        font-size: var(--size-lg);
    } */
}

/* lg */
@media (min-width: 1024px) {
    .beers__title {
        font-size: var(--size-4xl);
    }
    
    .beers__description {
        font-size: var(--size-lg);
    } 

    .beers__beer-description1 {
        font-size: var(--size-base);
    }
    
    .beers__beer-description2 {
        font-size: var(--size-base);
    }
    
    .beers__beer-btn {
        font-size: var(--size-base);
    }

    .beers__beer-subtitle {
        font-size: var(--size-4xl);
    }
}

/* xl */
@media (min-width: 1280px) {
    .beers__title {
        font-size: var(--size-5xl);
    }
    
    .beers__description {
        font-size: var(--size-xl);
        margin: 2rem auto;
    }

    .beers__beer-description1 {
        font-size: var(--size-lg);
    }
    
    .beers__beer-description2 {
        font-size: var(--size-lg);
    }
    
    .beers__beer-btn {
        font-size: var(--size-lg);
    }

    .beers__beer-subtitle {
        font-size: var(--size-5xl);
    }

    .beers__container {
        width: 80%;
        margin: 0 auto;
    }
}

/* 2xl */
@media (min-width: 1536px) {
   .beers__container {
       width: 70%;
   }
} 
